# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#
*.zip
*.exe
*.tlog
*.log

openresty-1\.13\.6\.2/msvc/\.vs/
openresty-1\.13\.6\.2/msvc/Debug/nginx\.res
openresty-1\.13\.6\.2/msvc/Release/nginx\.res

openresty-1\.13\.6\.2/bin/Debug/\.vscode/
openresty-1\.13\.6\.2/bin/Debug/nginx\.lib
openresty-1\.13\.6\.2/bin/Debug/logs/
openresty-1\.13\.6\.2/bin/Debug/static_sample/

openresty-1\.13\.6\.2/bin/Release/
openresty-1\.13\.6\.2/bin/Release_20181117/
